<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>DatabaseConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdraw</servlet-name>
        <servlet-class>Withdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllRecords</servlet-name>
        <servlet-class>ShowAllRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDataByID</servlet-name>
        <servlet-class>ShowDataByID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchAccountStatus</servlet-name>
        <servlet-class>SwitchAccountStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Transfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseConnection</servlet-name>
        <url-pattern>/DatabaseConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdraw</servlet-name>
        <url-pattern>/Withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllRecords</servlet-name>
        <url-pattern>/ShowAllRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDataByID</servlet-name>
        <url-pattern>/ShowDataByID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchAccountStatus</servlet-name>
        <url-pattern>/SwitchAccountStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
